
$height: 5rem;
$width: 23.5rem;
$bred-color: #cca72f;

.burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
 }

 .bred {
  height: $height;
  width: $width;
  background-color: $bred-color;
 }

.top-bred {
  @extend .bred;
  border-top-left-radius: 200%;
  border-top-right-radius: 200%;
  box-shadow:  inset 0 0 2em #eae8e1;
}

.bottom-bred {
  @extend .bred;
  border-bottom-left-radius: 200%;
  border-bottom-right-radius: 200%;
}

.ingredients {
  height: calc(#{$height} - 2rem);
  width: calc(#{$width} - 2rem);
  border-radius: 40%;
}

.tomato {
  @extend .ingredients;
  background-color: #c12c2c;
}

.cheese {
  @extend .ingredients;
  background-color: #FCA602;
}

.patty {
  @extend .ingredients;
  background-color: #803d1bbc;
}

.leaf {
  @extend .ingredients;
  background-color: #2bb348;
}



